p{
    background-color: gray;
    padding: 5px;
    border-radius: 15px;
    border: 1px solid;
}
.red{
    border-color: red;
}
.green{
    border-color: green;
}
.blue{
    border-color: blue;
}
.red span{
    color: red;
}
.green span{
    color: green;
}
.blue span{
    color: blue;
}
